In [1]:
import pandas as pd
import geopandas as gpd
import os
import xarray as xr
from datetime import datetime

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
tmp = None
tmp = pd.read_csv("https://zenodo.org/records/7790257/files/maize_countyStats_doyPercentPlanted_2000-2020_DeinesEtAl_vRSE.csv")

In [3]:
tmp['GEOID'] = tmp['GEOID'].astype(str)

In [4]:
os.getcwd()

'/Users/jameshorine/repos/demos'

In [5]:
tmp.dtypes

GEOID          object
county         object
state          object
county_code     int64
state_code      int64
state_name     object
crop           object
Year            int64
doy_10          int64
doy_25          int64
doy_50          int64
doy_75          int64
doy_90          int64
dtype: object

In [6]:
countyfile = None
countyfile = gpd.read_file('../data/tl_2022_us_county/tl_2022_us_county.shp')
#countyfile['GEOID'] = countyfile['GEOID'].astype(int)

In [7]:
countyfile.head()

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,31,039,00835841,31039,Cuming,Cuming County,06,H1,G4020,None,None,None,A,1477644346,10691216,+41.9158651,-096.7885168,"POLYGON ((-96.55515 41.91587, -96.55515 41.914..."
1,53,069,01513275,53069,Wahkiakum,Wahkiakum County,06,H1,G4020,None,None,None,A,680980770,61564427,+46.2946377,-123.4244583,"POLYGON ((-123.72755 46.26449, -123.72755 46.2..."
2,35,011,00933054,35011,De Baca,De Baca County,06,H1,G4020,None,None,None,A,6016818946,29090018,+34.3592729,-104.3686961,"POLYGON ((-104.89337 34.08894, -104.89337 34.0..."
3,31,109,00835876,31109,Lancaster,Lancaster County,06,H1,G4020,None,None,None,A,2169272978,22847034,+40.7835474,-096.6886584,"POLYGON ((-96.68493 40.52330, -96.69219 40.523..."
4,31,129,00835886,31129,Nuckolls,Nuckolls County,06,H1,G4020,None,None,None,A,1489645185,1718484,+40.1764918,-098.0468422,"POLYGON ((-98.27370 40.11840, -98.27374 40.122..."

In [8]:
countyfile.dtypes

STATEFP       object
COUNTYFP      object
COUNTYNS      object
GEOID         object
NAME          object
NAMELSAD      object
LSAD          object
CLASSFP       object
MTFCC         object
CSAFP         object
CBSAFP        object
METDIVFP      object
FUNCSTAT      object
ALAND          int64
AWATER         int64
INTPTLAT      object
INTPTLON      object
geometry    geometry
dtype: object

In [9]:

cdf = None
cdf = tmp.merge(right=countyfile, on="GEOID", how = "left")

In [10]:
gpdcounties = gpd.GeoDataFrame(cdf)

In [11]:
gpdcounties.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands. British Virgin Islands.
- bounds: (167.65, 14.92, -40.73, 86.45)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [12]:
gpdcounties

,GEOID,county,state,county_code,state_code,state_name,crop,Year,doy_10,doy_25,...,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,17001,Adams County,IL,1,17,Illinois,Maize,2000,112,114,...,G4020,None,None,None,A,2214826163,41754318,+39.9860525,-091.1949607,"POLYGON ((-91.02742 40.19447, -91.02438 40.194..."
1,17001,Adams County,IL,1,17,Illinois,Maize,2001,114,117,...,G4020,None,None,None,A,2214826163,41754318,+39.9860525,-091.1949607,"POLYGON ((-91.02742 40.19447, -91.02438 40.194..."
2,17001,Adams County,IL,1,17,Illinois,Maize,2002,112,114,...,G4020,None,None,None,A,2214826163,41754318,+39.9860525,-091.1949607,"POLYGON ((-91.02742 40.19447, -91.02438 40.194..."
3,17001,Adams County,IL,1,17,Illinois,Maize,2003,113,116,...,G4020,None,None,None,A,2214826163,41754318,+39.9860525,-091.1949607,"POLYGON ((-91.02742 40.19447, -91.02438 40.194..."
4,17001,Adams County,IL,1,17,Illinois,Maize,2004,108,110,...,G4020,None,None,None,A,2214826163,41754318,+39.9860525,-091.1949607,"POLYGON ((-91.02742 40.19447, -91.02438 40.194..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21826,55141,Wood County,WI,141,55,Wisconsin,Maize,2016,124,126,...,G4020,None,None,None,A,2053974903,41978094,+44.4614126,-090.0388252,"POLYGON ((-89.96401 44.68483, -89.96386 44.684..."
21827,55141,Wood County,WI,141,55,Wisconsin,Maize,2017,134,140,...,G4020,None,None,None,A,2053974903,41978094,+44.4614126,-090.0388252,"POLYGON ((-89.96401 44.68483, -89.96386 44.684..."
21828,55141,Wood County,WI,141,55,Wisconsin,Maize,2018,131,133,...,G4020,None,None,None,A,2053974903,41978094,+44.4614126,-090.0388252,"POLYGON ((-89.96401 44.68483, -89.96386 44.684..."
21829,55141,Wood County,WI,141,55,Wisconsin,Maize,2019,135,141,...,G4020,None,None,None,A,2053974903,41978094,+44.4614126,-090.0388252,"POLYGON ((-89.96401 44.68483, -89.96386 44.684..."
21830,55141,Wood County,WI,141,55,Wisconsin,Maize,2020,127,128,...,G4020,None,None,None,A,2053974903,41978094,+44.4614126,-090.0388252,"POLYGON ((-89.96401 44.68483, -89.96386 44.684..."

In [13]:
era5_grid = None
era5_grid = pd.read_csv("https://raw.githubusercontent.com/modern-agronomy/data/main/datasets/era5_grid.csv")

In [14]:
era5_grid

      latitude  longitude geohash7
0        50.00     -104.0  c8yh3qj
1        49.75     -104.0  c8y512t
2        49.50     -104.0  c8y197j
3        49.25     -104.0  c8y01mt
4        49.00     -104.0  c8wnc2j
...        ...        ...      ...
5524     37.00      -80.0  dnx47x9
5525     36.75      -80.0  dnx15d1
5526     36.50      -80.0  dnrpes9
5527     36.25      -80.0  dnrn5x1
5528     36.00      -80.0  dnrhg99

[5529 rows x 3 columns]

In [15]:
gdf = gpd.GeoDataFrame(
    era5_grid, geometry=gpd.points_from_xy(era5_grid.longitude, era5_grid.latitude), crs="EPSG:4269"
)

In [16]:
gdf.head()

   latitude  longitude geohash7                     geometry
0     50.00     -104.0  c8yh3qj  POINT (-104.00000 50.00000)
1     49.75     -104.0  c8y512t  POINT (-104.00000 49.75000)
2     49.50     -104.0  c8y197j  POINT (-104.00000 49.50000)
3     49.25     -104.0  c8y01mt  POINT (-104.00000 49.25000)
4     49.00     -104.0  c8wnc2j  POINT (-104.00000 49.00000)

In [17]:
gdf.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands. British Virgin Islands.
- bounds: (167.65, 14.92, -40.73, 86.45)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [18]:
joindf = gpdcounties.sjoin(gdf, how = "inner", predicate = "contains" )

In [19]:
joindf

,GEOID,county,state,county_code,state_code,state_name,crop,Year,doy_10,doy_25,...,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,index_right,latitude,longitude,geohash7
0,17001,Adams County,IL,1,17,Illinois,Maize,2000,112,114,...,A,2214826163,41754318,+39.9860525,-091.1949607,"POLYGON ((-91.02742 40.19447, -91.02438 40.194...",3004,40.0,-91.0,9zp791z
1,17001,Adams County,IL,1,17,Illinois,Maize,2001,114,117,...,A,2214826163,41754318,+39.9860525,-091.1949607,"POLYGON ((-91.02742 40.19447, -91.02438 40.194...",3004,40.0,-91.0,9zp791z
2,17001,Adams County,IL,1,17,Illinois,Maize,2002,112,114,...,A,2214826163,41754318,+39.9860525,-091.1949607,"POLYGON ((-91.02742 40.19447, -91.02438 40.194...",3004,40.0,-91.0,9zp791z
3,17001,Adams County,IL,1,17,Illinois,Maize,2003,113,116,...,A,2214826163,41754318,+39.9860525,-091.1949607,"POLYGON ((-91.02742 40.19447, -91.02438 40.194...",3004,40.0,-91.0,9zp791z
4,17001,Adams County,IL,1,17,Illinois,Maize,2004,108,110,...,A,2214826163,41754318,+39.9860525,-091.1949607,"POLYGON ((-91.02742 40.19447, -91.02438 40.194...",3004,40.0,-91.0,9zp791z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21826,55141,Wood County,WI,141,55,Wisconsin,Maize,2016,124,126,...,A,2053974903,41978094,+44.4614126,-090.0388252,"POLYGON ((-89.96401 44.68483, -89.96386 44.684...",3214,44.5,-90.0,9zzvpuz
21827,55141,Wood County,WI,141,55,Wisconsin,Maize,2017,134,140,...,A,2053974903,41978094,+44.4614126,-090.0388252,"POLYGON ((-89.96401 44.68483, -89.96386 44.684...",3214,44.5,-90.0,9zzvpuz
21828,55141,Wood County,WI,141,55,Wisconsin,Maize,2018,131,133,...,A,2053974903,41978094,+44.4614126,-090.0388252,"POLYGON ((-89.96401 44.68483, -89.96386 44.684...",3214,44.5,-90.0,9zzvpuz
21829,55141,Wood County,WI,141,55,Wisconsin,Maize,2019,135,141,...,A,2053974903,41978094,+44.4614126,-090.0388252,"POLYGON ((-89.96401 44.68483, -89.96386 44.684...",3214,44.5,-90.0,9zzvpuz
21830,55141,Wood County,WI,141,55,Wisconsin,Maize,2020,127,128,...,A,2053974903,41978094,+44.4614126,-090.0388252,"POLYGON ((-89.96401 44.68483, -89.96386 44.684...",3214,44.5,-90.0,9zzvpuz

In [20]:
joindf.columns

Index(['GEOID', 'county', 'state', 'county_code', 'state_code', 'state_name',
       'crop', 'Year', 'doy_10', 'doy_25', 'doy_50', 'doy_75', 'doy_90',
       'STATEFP', 'COUNTYFP', 'COUNTYNS', 'NAME', 'NAMELSAD', 'LSAD',
       'CLASSFP', 'MTFCC', 'CSAFP', 'CBSAFP', 'METDIVFP', 'FUNCSTAT', 'ALAND',
       'AWATER', 'INTPTLAT', 'INTPTLON', 'geometry', 'index_right', 'latitude',
       'longitude', 'geohash7'],
      dtype='object')

In [21]:
joindf[['GEOID','county', 'state', 'county_code', 'state_code', 'state_name',
       'crop', 'Year', 'doy_10', 'doy_25', 'doy_50', 'doy_75', 'doy_90', 'latitude',
       'longitude', 'geohash7']].query("Year == 2000")

,GEOID,county,state,county_code,state_code,state_name,crop,Year,doy_10,doy_25,doy_50,doy_75,doy_90,latitude,longitude,geohash7
0,17001,Adams County,IL,1,17,Illinois,Maize,2000,112,114,115,118,120,40.00,-91.00,9zp791z
0,17001,Adams County,IL,1,17,Illinois,Maize,2000,112,114,115,118,120,40.00,-91.25,9zp5e9c
21,17003,Alexander County,IL,3,17,Illinois,Maize,2000,111,111,113,118,124,37.25,-89.25,dn8ecj4
42,17005,Bond County,IL,5,17,Illinois,Maize,2000,113,115,118,121,126,38.75,-89.50,dnbk7qh
42,17005,Bond County,IL,5,17,Illinois,Maize,2000,113,115,118,121,126,39.00,-89.50,dnbmg7s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21810,55141,Wood County,WI,141,55,Wisconsin,Maize,2000,126,130,136,142,146,44.25,-90.00,9zzgxzr
21810,55141,Wood County,WI,141,55,Wisconsin,Maize,2000,126,130,136,142,146,44.25,-90.25,9zzgdr3
21810,55141,Wood County,WI,141,55,Wisconsin,Maize,2000,126,130,136,142,146,44.50,-89.75,dpbjjsy
21810,55141,Wood County,WI,141,55,Wisconsin,Maize,2000,126,130,136,142,146,44.50,-90.25,9zzv4kc
21810,55141,Wood County,WI,141,55,Wisconsin,Maize,2000,126,130,136,142,146,44.50,-90.00,9zzvpuz

In [22]:
joindf[['GEOID','county', 'state', 'county_code', 'state_code', 'state_name',
       'crop', 'Year', 'doy_10', 'doy_25', 'doy_50', 'doy_75', 'doy_90', 'latitude',
       'longitude', 'geohash7']].query("Year == 2000 & GEOID == '17001'")

,GEOID,county,state,county_code,state_code,state_name,crop,Year,doy_10,doy_25,doy_50,doy_75,doy_90,latitude,longitude,geohash7
0,17001,Adams County,IL,1,17,Illinois,Maize,2000,112,114,115,118,120,40.0,-91.00,9zp791z
0,17001,Adams County,IL,1,17,Illinois,Maize,2000,112,114,115,118,120,40.0,-91.25,9zp5e9c

In [23]:
tmp.query("Year == 2000 & GEOID == '17001'")

,GEOID,county,state,county_code,state_code,state_name,crop,Year,doy_10,doy_25,doy_50,doy_75,doy_90
0,17001,Adams County,IL,1,17,Illinois,Maize,2000,112,114,115,118,120

In [41]:
joindf[['GEOID','county', 'state', 'county_code', 'state_code', 'state_name',
       'crop', 'Year', 'doy_10', 'doy_25', 'doy_50', 'doy_75', 'doy_90', 'latitude',
       'longitude', 'geohash7']].to_csv("counties_with_era5_grid.csv", index = False)

In [25]:
joindf[['GEOID','latitude',
       'longitude', 'geohash7']].drop_duplicates()

       GEOID  latitude  longitude geohash7
0      17001     40.00     -91.00  9zp791z
0      17001     40.00     -91.25  9zp5e9c
21     17003     37.25     -89.25  dn8ecj4
42     17005     38.75     -89.50  dnbk7qh
42     17005     39.00     -89.50  dnbmg7s
...      ...       ...        ...      ...
21810  55141     44.25     -90.00  9zzgxzr
21810  55141     44.25     -90.25  9zzgdr3
21810  55141     44.50     -89.75  dpbjjsy
21810  55141     44.50     -90.25  9zzv4kc
21810  55141     44.50     -90.00  9zzvpuz

[3763 rows x 4 columns]

In [26]:
joindf[['GEOID','latitude',
       'longitude', 'geohash7']].drop_duplicates().to_csv("county_era5_grid.csv", index = False)

In [27]:
pd.read_csv("https://raw.githubusercontent.com/modern-agronomy/data/main/datasets/county_era5_grid.csv")

      GEOID  latitude  longitude geohash7
0     17001     40.00     -91.00  9zp791z
1     17001     40.00     -91.25  9zp5e9c
2     17003     37.25     -89.25  dn8ecj4
3     17005     38.75     -89.50  dnbk7qh
4     17005     39.00     -89.50  dnbmg7s
...     ...       ...        ...      ...
3758  55141     44.25     -90.00  9zzgxzr
3759  55141     44.25     -90.25  9zzgdr3
3760  55141     44.50     -89.75  dpbjjsy
3761  55141     44.50     -90.25  9zzv4kc
3762  55141     44.50     -90.00  9zzvpuz

[3763 rows x 4 columns]